h1 Authorise Application
p
	a(href='https://github.com/login/oauth/authorize?client_id=f4ffe2267b97733899ff&redirect_uri=http://localhost:3000/github/authorised&scope=user,public_repo') Connect with github

